{% extends "base.html" %} {% block title %} Contact {% endblock %} {% block main
%}
<div class="container contactus">
  <div class="row">
    <div class="col-sm-6 first-column padd">
      <h4>Dr. Vikas Sood</h4>
      <div>UGC-Assistant Professor, Department of Biochemistry</div>
      <div>Jamia Hamdard, New Delhi, 110062, India</div>
      <div>
        <b>Email: </b
        ><a class="email" href="mailto:v.sood@jamiahamdard.ac.in"
          >v.sood@jamiahamdard.ac.in</a
        >
      </div>
      <div><b>Alternate Email: </b><a class="email" href="mailto:vikas1101@gmail.com">vikas1101@gmail.com</a> </div>
      <br /><br />
    </div>

    <div class="col-sm-6 second-column padd">
      <h4>Dr. Baljeet Kaur</h4>
      <div>Associate Professor, Department of Computer Science</div>
      <div>Hansraj College (University of Delhi), Delhi, 110007, India</div>
      <div><b>Email: </b><a class="email" href="mailto:baljeetkaur@hrc.du.ac.in">baljeetkaur@hrc.du.ac.in</a></div>
      <div><b>Alternate Email: </b><a class="email" href="mailto:baljeetkaur26@hotmail.com">baljeetkaur26@hotmail.com</a></div>
    </div>
  </div>
</div>
<!-- <br><br><br><br><br><br> -->
{% endblock %}
