{% extends "base.html" %} {% block title %} Help {% endblock %} {% block main %}
<div class="container">
   <h3 style="text-align: center;" class="heading-color">Help Page of APPred</h3>
  
  <br>
  <div style="text-align: justify;" >
    <h3 style=class="heading-color">APPred Webserver</h3>
    <p>
This web server has been designed to assist scientists in predicting and designing antiprotozoal peptides.  This page helps the user on how different modules of this web server work. This server's key modules are as follows: 
Predict, Design and Protein Scan<br><br>
Some of the standard terms used in this study are as follows:<br>
      <strong>Negative Dataset</strong> – Peptides with no antiprotozoal activity. Five negative datasets, Non-Antimicrobial peptides, Antiviral peptides, Antibacterial peptides, Antifungal peptides, and Antimicrobial peptides (AMP) excluding antiprotozoal peptides, are used.<br>
      
<strong>Positive Dataset</strong> – Peptides with antiprotozoal activity are used.<br>
<strong>Feature Selection Method</strong> –Feature selection methods i.e SVC-L1 and mRMR are used to select relevant features from a pool of features to build an efficient machine-learning model. The machine learning models built on features selected by mRMR are more robust than the feature selected by SVC-L1.<br>
<strong>Prediction Model</strong> – Five different classifiers to classify antiprotozoal peptides from the negative class. The prediction models are Decision Tree, Random Forest, Support Vector Machine, Logistic Regression and XGBoost. XgBoost using features selected by mRMR outperformed all other classifiers in classifying antiprotozoal peptides from the negative class.
    </p>
  </div>
</div>
<br />
<hr>

<div class="container">
  <h4 style="text-align: center;" class="heading-color">Predict</h4>
  <br>
  <div style="text-align: justify;" >
    <strong>
 This module allows the users to predict antiprotozoal peptides from a set of peptides or a peptide library (virtual screening).
The server will predict and rank peptides based on their potential for antiprotozoal activity. 
Users may follow the following steps to predict the antiprotozoal activity of a given peptide.
    </strong>
    <br /><br />
    <div>
      <img
        class="help-image"
        src="{{url_for('static', filename='images/predict.png')}}"
        alt="predict help"
      />
    </div>
  </div>
</div>
<hr>
<div class="container">
  <h4 style="text-align: center;"  class="heading-color"> Design</h4>
  <br>
  <div style="text-align: justify;">
    <strong>
     This module generates mutants of a given peptide and predicts antiprotozoal peptides among the mutants. 
This server helps users to find the position of mutation needed to boost the potency of query peptide.  
    </strong>
    <br /><br />
    <div>
      <img
        class="help-image"
        src="{{url_for('static', filename='images/design.png')}}"
        alt="design help"
      />
    </div>
  </div>
</div>
<br /><hr>
<div class="container">
  <h4 style="text-align: center" class="heading-color">Protein Scan</h4>
  <br>
  <div style="text-align: justify;">
    <strong>
This module generates overlapping peptides from the query protein sequence and estimates their antiprotozoal activity. The user can change the length of the overlapping peptide fragment by changing the value of K. The default value of K = 15. 
It helps the users to determine which segments of a protein have antiprotozoal activity. 

    </strong>
    <br /><br />
    <div>
      <img
        class="help-image"
        src="{{url_for('static', filename='images/protein.png')}}"
        alt="protien scan help"
      />
    </div>
  </div>
</div>
<br><br><br>
<br /><br /><br />
{% endblock %}
