{% extends "base.html" %} {% block title %} APPred {% endblock %} {% block main
%}
<div class="container mainblock">
  <div class="bounce-cont">
    <h6>Periwal N, Arora P, Thakur A, Agrawal L, Goyal Y, Rathore AS, Anand HS, Kaur B, Sood V. Antiprotozoal peptide
      prediction using machine learning with effective feature selection techniques. Heliyon. 2024 Aug 13;10(16):e36163.
      doi: 10.1016/j.heliyon.2024.e36163. PMID:<a href="https://pubmed.ncbi.nlm.nih.gov/39247292/"
        target="_blank">39247292;</a> PMCID: PMC11380031
    </h6>
  </div>
  <h1 class="heading-color" style="text-align: center">Welcome to APPred</h1>
  <hr />
  <br /><br />
  <div class="container" style="text-align: justify">
    <b><i>
        Antiprotozoal peptides are the peptides which act against free living
        and parasitic protozoa. These peptides have been isolated from a wide range
        of organisms and span across a varied group of peptide family. These
        peptides act against the target protozoa by inducing cell death via
        multiple mechanisms. With the increasing problem of resistance drug,
        antiprotozoal peptides can be considered as an alternative therapeutic
        approach. Therefore, this tool is designed for prediction of
        antiprotozoal peptides.
      </i>
    </b>
  </div>
  <br /><br />
  <hr />
  <div class="container" style="text-align: justify">
    <div class="row">
      <div class="col-sm-6 col-md-8">
        <h4>Some of the features of APPred are as follows:</h4>
        <ol>
          <li>
            <b>Predict : </b>This module allows the user to predict whether the
            given peptide(s) have antiprotozoal activity or not.
          </li>
          <br />
          <li>
            <b>Design : </b>This module allows the user to generate all the
            possible single mutants of a given peptide and then predict whether
            the mutants have antiprotozoal activity or not.
          </li>
          <br />
          <li>
            <b>Protein Scan : </b>This module allows the user to generate all
            the possible overlapping peptides of a given protein sequence and
            determine whether the generated peptides have antiprotozoal
            activity or not.
          </li>
        </ol>
      </div>
    </div>
  </div>
  {% endblock %}
</div>